$cyan: rgb(0, 195, 255);
$orange: #ffc200;

$gray_a: #aaa;
$gray_b: #bbb;
$gray_c: #ccc;
$gray_d: #ddd;
$gray_e: #eee;
$white: #fff;

$base_pic_url: "../pics/";

$world_is_mine_pic: $base_pic_url+"world_is_mine.jpg";
$scorched_earth_long_pic: $base_pic_url+"scorched_earth_long.jpg";
$goddess_rebirth_long_pic: $base_pic_url+"goddess_rebirth_long.jpg";
$cheesecake_pic: $base_pic_url+"cheesecake.jpg";
$china_mountains_pic: $base_pic_url+"china_mountains.jpg";
$here_be_dragons_long_pic: $base_pic_url+"here_be_dragons_long.jpg";
$boxing_spider_pic: $base_pic_url+"boxing_spider.jpg";
$castle_village_pic: $base_pic_url+"castle_village.jpg";
$thousand_islands_pic: $base_pic_url+"thousand_islands.jpg";



$world_is_mine_url: "http://alfred-georg.deviantart.com/art/the-world-is-mine-364487766";
$scorched_earth_url: "http://arcipello.deviantart.com/art/Scorched-earth-304068383";
$goddess_rebirth_url: "http://rahmatozz.deviantart.com/art/Goddess-of-Rebirth-211572270";
$cheesecake_url: "http://sasquat-ch.deviantart.com/art/No-Bake-Cherry-Cheesecake-280675437";
$china_mountains_url: "http://martanael.deviantart.com/art/China-Mountains-345041389";
$here_be_dragons_url: "http://telthona.deviantart.com/art/Here-be-Dragons-Ph-Dragon-s-Nest-302475152";
$boxing_spider_url: "http://angiwallace.deviantart.com/art/Boxing-Spider-172169128";
$castle_village_url: "http://built4ever.deviantart.com/art/Castle-and-Village-Number-Two-334499398";
$thousand_islands_url: "http://erezmarom.deviantart.com/art/Land-of-a-Thousand-Islands-357073487";








