$cyan: rgb(0, 195, 255);
$orange: #ffc200;
$dark_orange: #ff9000;

$gray_a: #aaa;
$gray_b: #bbb;
$gray_c: #ccc;
$gray_d: #ddd;
$gray_e: #eee;
$white: #fff;

$base_pic_url: "../pics/";

//$world_is_mine_pic: $base_pic_url+"world_is_mine.jpg";
$scorched_earth_long_pic: $base_pic_url+"scorched_earth_long.jpg";
$goddess_rebirth_long_pic: $base_pic_url+"goddess_rebirth_long.jpg";
//$cheesecake_pic: $base_pic_url+"cheesecake.jpg";
$china_mountains_pic: $base_pic_url+"china_mountains.jpg";
//$here_be_dragons_long_pic: $base_pic_url+"here_be_dragons_long.jpg";
//$boxing_spider_pic: $base_pic_url+"boxing_spider.jpg";
$castle_village_pic: $base_pic_url+"castle_village.jpg";
$thousand_islands_pic: $base_pic_url+"thousand_islands.jpg";

$bridges_island_long_pic: $base_pic_url+"bridges_island_long.jpg";
$uluru_and_me_pic: $base_pic_url+"uluru_and_me.jpg";
$infant_stars_pic: $base_pic_url+"infant_stars.jpg";
$waterfall_pic: $base_pic_url+"waterfall.jpg";
