@import "TP_compass_defaults";
@import "compass";
@import "compass/reset";

@import "TP_variables";
@import "TP_mixins";


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  -webkit-text-size-adjust: none; //Prevent font scaling in landscape
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

a { outline: none; }

#header {
  @include box-sizing("border-box");
  background-color: $cyan;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: $white;

  border-bottom: 1px solid darken($cyan, 10%);
  @include box-shadow(0 0 5px 0 #777);
  text-shadow: 0 -1px 0 #777;
}



#main {
  @include box-sizing("border-box");
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#disclaimer {
  @include box-sizing("border-box");
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;

  color: #777;
  @include border-radius(5px);
  border: 1px solid $gray_b;
  background-color: $gray_e;

  & > p { margin-bottom: 5px; }
}


.tiles_container {
  margin: 0 auto 80px;
}



%tile_component {
  @include box-sizing("border-box");
  color: $white;
}

.tile {
  @include box-sizing("border-box");
  float: left;
  position: relative;
  display: block;
  width: 300px;
  height: 300px;

  float: left;
  margin: 5px;

  @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.6));

  @include border-radius(2px);

  background-color: $white;

  overflow: hidden;


  &.tile_long {
    height: 610px;

    & > .tile_text {
      height: 540px;
      top: -540px;
    }

    .tiles_container.can_hover > &:hover {
      & > .tile_text { top: 0px; }
    }
  }


  &.tapped {
    & > .tile_text { top: 0px; }
    & > .tile_footer { bottom: 0px; }
  }

  .tiles_container.can_hover > &:hover {
    & > .tile_text { top: 0px; }
    & > .tile_footer { bottom: 0px; }
  }
}




// .tile_text.tapped { top: 0px; }
// .tile_footer.tapped { bottom: 0px; }


.tile_text {
  @extend %tile_component;
  @include transition(top 0.5s);
  width: 100%;
  height: 230px;
  position: absolute;
  top: -230px;

  background-color: rgba(0,0,0,0.6);
  
  padding: 20px 12px 10px;

  & > a {
    @include transition(color 0.3s);
    color: $cyan;
    text-decoration: none;
    &:hover { color: $orange; }
  }
}


.tile_footer {
  @extend %tile_component;
  @include transition(bottom 0.5s);
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: -30px;

  background-color: rgba(0,0,0,0.85);
  
  padding: 12px;

  & > .tile_title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 12px;
  }

  & > .tile_title,
  & > .tile_subtitle {
    & > a {
      position: relative;
      @include transition(color 0.3s);
      color: $white;
      text-decoration: none;
      &:hover { color: $orange; }
    }
  }
}





//# { background-image: url($); }
#scorched_earth { background-image: url($scorched_earth_long_pic); }
#goddess_rebirth { background-image: url($goddess_rebirth_long_pic); }
#bridges_island { background-image: url($bridges_island_long_pic); }
#china_mountains { background-image: url($china_mountains_pic); }

#castle_village { background-image: url($castle_village_pic); }
#thousand_islands { background-image: url($thousand_islands_pic); }

#uluru_and_me { background-image: url($uluru_and_me_pic); }
#infant_stars { background-image: url($infant_stars_pic); }
#waterfall { background-image: url($waterfall_pic); }

.masonry {
  @include transition(height 0.5s, width 0.5s);
  & > .masonry-brick {
    @include transition(left 0.5s, right 0.5s, top 0.5s);
  }
}
